.hotAccessories {
  display: flex;
  width: 80vw;
  margin: auto;
  margin-top: 25px;
}

.hotAccessories > div:first-child > img {
  cursor: pointer;
  transition: all 0.5s linear;
  margin-top: 2px;
  width: 20vw;
  height: 74.2vh;
}

.hotAccessories > div:first-child > img:hover {
  transform: translateY(-0.2vmax);
  box-shadow: 0px 6px 15px rgba(53, 53, 53, 0.363);
}

.hotAccessories > div:last-child {
  display: flex;
  flex-wrap: wrap;
}
