.nav {
  color: black;
  padding: 1vmax;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(43, 43, 43, 0.137);
}

.navlinks {
  text-decoration: none;
  background-color: white;
  color: black;
  margin: 1vmax 1.2vmax;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.2vmax;
}

.navlinks:hover {
  color: orangered;
}

.activeLink a {
  color: orangered;
}

.logo {
  background-color: orangered;
  width: 58px; /* Width will be set such that only one from home icon and MI is visible at a time*/
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  right: 2vmax;
}

#logoImage {
  transition: all 0.2s; /* For transition to be smooth*/
  transform: translateX(
    -55px
  ); /* Move in -X direction by 55 px. MI will be visible and home icon will be hidden*/
}

#logoImage:hover {
  transform: translateX(
    0px
  ); /* Now, home icon will be visible and MI will be hidden*/
}

.searchbox {
  position: relative;
  left: 5vmax;
}

.searchbox > input {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.76);
  width: 15vmax;
  font-size: 1.1vmax;
  outline: none;
  color: rgb(61, 61, 61);
  font-weight: 100;
}

.searchbox > svg {
  fill: rgb(61, 61, 61);
}
